<!-- <div class="container">
  <div class="navbar">

  </div>
  <div class="sections">
    <div class="about-section"></div>
    <div class="experience-section"></div>
    <div class="contact-section"></div>
  </div>
  <div class="footer">
    
  </div>
  </div> -->
  <div class="container">
    <div class="">
    <h2 class="text_shadows">Working on</h2>    
  </div>  
  <div class="d-flex justify-content-center"><a href="https://www.linkedin.com/in/doradoalex" target="_blank"><span class="iconify" data-icon="mdi:linkedin" style="color: #f49b90;" data-width="60"></span></a></div>
</div>


  