

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

body {
  min-height: 100vh;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #eff8e2;
}
.subtext {
  display: flex;
  justify-content: center;
  color: #f6aca2;
  font-family: 'Square Peg', cursive;
  font-weight: 400;
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(2rem + 4vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  //color: transparent;
  //background-color: white;
  //background-clip: text;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

body {
  background-color: #222831 !important;
}

// /* Global refereces */
// $bg-principal: #222831
// $blue-palette: #00ADB5
// $white-palette: #EEEEEE

// body
//     /* TODO: Hay que comprobar el motivo por el que es necesario añadir el !important a la clase para que se aplique el efecto */
//     background-color: #222831 !important
// .grid-wrapper
//     position: absolute
//     top: 50%
//     left: 50%
// .icon
//     color: #ffffff
// .btn-shine
//   font-family: 'Montserrat', sans-serif
//   transform: translate(-50%,-50%)
//   padding: 12px 48px
//   color: #ffffff
//   //background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%)
//   background: linear-gradient(to right, #00ADB5 0, white 10%, #00ADB5 20%)
//   background-position: 0
//   -webkit-background-clip: text
//   -webkit-text-fill-color: transparent
//   animation: shine 3s infinite linear
//   animation-fill-mode: forwards
//   -webkit-text-size-adjust: none
//   font-weight: 600
//   font-size: 16px
//   text-decoration: none
//   white-space: nowrap
    
// @keyframes shine
//   0%
//     background-position: 0
//   60%
//     background-position: 180px
//   100%
//     background-position: 180px

